<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menuMapper">
	
	<resultMap id="menuResultSet" type="MENU">
		<id property="chicken" column="CHICKEN" />
		<result property="brand" column="BRAND" />	
		<result property="price" column="PRICE" />
		<result property="point" column="POINT" />	
	</resultMap>
			
	
	<select id="menuList" resultMap="menuResultSet">
		SELECT *
		FROM MENU 
		ORDER BY POINT DESC
	</select>
			
	<update id = "recommend" parameterType="Menu">
	update menu
	set point = point+1
	where chicken = #{chicken}
	</update>
</mapper>
